<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <img id="phone-icon" src="/public/images/phone-icon.png" alt="phone-icon">
        <h1 id="main-header">Телефонный справочник</h1>
        <div id="login">
            <a class="login-link" href="/views/login.html">Войти в систему</a>
            <a class="login-link" href="/views/registration.html">Зарегистрироваться</a>
        </div>
    </div>

    <div id="container">
        <div id="sub-menu">
            <a id="sub-menu-link" href="/views/login.html">Войдите в систему, чтобы пользоваться ресурсом!</a>
        </div>
        <img id="access-denied" src="/public/images/red-access-railings.png" alt="access-denied">
    </div>

</body>
</html>